.basicModal__button:focus {
	background: color(c);
	color: color(a);
	cursor: pointer;
	outline-style: none;
}

.basicModal__button#basicModal__action:focus {
	color: color(a);
}

.content .photo:focus {
	outline-style: solid;
	outline-color: color(a);
	outline-width: 10px;
}

.content .album:focus {
	outline-width: 0;
}

.header .button:focus {
	outline-width: 0;
	background-color: color(a);
}

.header__title:focus {
	outline-width: 0;
	background-color: color(a);
	color: color(b);
}

.header .button:focus .iconic {
	fill: color(b);
}

#imageview {
	background-color: color(b);
}
#imageview #image,
#imageview #livephoto {
	outline-width: 0;
}
