.basicModal__button:focus {
	background: color(focus-tv-basicmodal-button-background);
	color: color(focus-tv-basicmodal-button-text);
	cursor: pointer;
	outline-style: none;
}

.basicModal__button#basicModal__action:focus {
	color: color(focus-tv-basicmodal-button-action-text);
}

.content .photo:focus {
	outline-style: solid;
	outline-color: color(focus-tv-content-outline);
	outline-width: 10px;
}

.content .album:focus {
	outline-width: 0;
}

.header .button:focus {
	outline-width: 0;
	background-color: color(focus-tv-header-button-background);
}

.header__title:focus {
	outline-width: 0;
	background-color: color(focus-tv-header-button-title-background);
	color: color(focus-tv-header-button-title-text);
}

.header .button:focus .iconic {
	fill: color(focus-tv-header-button-iconic-fill);
}

#imageview {
	background-color: color(tv-imageviews-background);
}
#imageview #image,
#imageview #livephoto {
	outline-width: 0;
}
