language: node_js

matrix:
  include:
    - os: linux
      dist: bionic #18.04
  allow_failures:
    - os: linux
      dist: xenial #16.04

node_js:
  - 10
  - 12
  - 14

before_script:
  - npm install

script:
  - npm run compile

cache: npm
