.basicModal .select select option {
	background: #333333 !important;
	color: #ffffff !important;
}

.basicModal .switch:last-child {
	padding-bottom: 42px;
}

.basicModal .hr {
	padding: 0 30px 15px;
	width: 100%;

	hr {
		border: none;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
	}
}
