// Default Theme ----------------------------------------------------- //
.basicContext {
	padding: 5px 0 6px;
	background: linear-gradient(to bottom, #333, #252525);
	box-shadow: 0 1px 4px black(0.2), inset 0 1px 0 white(0.05);
	border-radius: 5px;
	border: 1px solid black(0.7);
	border-bottom: 1px solid black(0.8);
	transition: none;

	&__item {
		margin-bottom: 2px;
		font-size: 14px;

		&--separator {
			margin: 4px 0;
			height: 2px;
			background: black(0.2);
			border-bottom: 1px solid white(0.06);
		}

		&--disabled {
			opacity: 0.5;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__data {
		min-width: auto;
		padding: 6px 25px 7px 12px;

		@media (hover: none) and (pointer: coarse) {
			// increase size of menu entries for touch devices
			padding: 12px 25px 12px 12px;
		}

		color: white(1);
		transition: none;
		cursor: default;
	}

	&__item:not(.basicContext__item--disabled):active &__data {
		background: linear-gradient(to bottom, darken($colorBlue, 10%), darken($colorBlue, 15%));
	}

	&__icon {
		margin-right: 10px;
		width: 12px;
		text-align: center;
	}
}

// restrict hover features to devices that support it
@media (hover: hover) {
	.basicContext__item:not(.basicContext__item--disabled):hover &__data {
		background: linear-gradient(to bottom, $colorBlue, darken($colorBlue, 5%));
	}
}
