form.token div.input-group {
	padding-right: 82px;

	input[disabled],
	input.disabled {
		color: $colorDialogDisabledFg;
	}

	div.button-group {
		display: block;
		position: absolute;
		margin: 0;
		padding: 0;
		right: 0;
		bottom: 0;
		width: 78px; // 3 buttons à 26px

		a.button {
			display: block;
			float: right;
			margin: 0;
			padding: 4px;
			bottom: 4px; // compensation for bottom padding (3px) and bottom border (1px) of input element
			width: 26px;
			height: 26px;
			cursor: pointer;
			box-shadow: inset 1px 1px 0 white(0.02);
			border: solid 1px black(0.2);

			.iconic {
				width: 100%;
				height: 100%;
			}
		}
	}
}
