#footer {
	padding: 5px 0 5px 0;
	text-align: center;
	position: absolute;
	background: #1d1d1d;

	p {
		font-size: 0.75em;
		line-height: 26px;

		a {
			color: #ccc;
		}
	}

	//p.hosted_by {
	//	padding-bottom: 5px;
	//}
	//
	//p.personal_text {
	//	margin-bottom: 5px;
	//}

	p.hosted_by,
	p.home_copyright {
		text-transform: uppercase;
	}
}

.hide_footer {
	display: none;
}
