#footer {
	padding: 0;
	text-align: center;
	position: relative;
	background: #1d1d1d;
	min-height: 40px;

	.home_copyright {
		text-transform: uppercase;
		color: #CCCCCC;
		font-size: 0.75em;
		font-weight: 400;
		line-height: 26px;
	}

	.personal_text {
		color: #CCCCCC;
		font-size: 0.75em;
		font-weight: 400;
	}

	p.hosted_by {
		text-transform: uppercase;
		color: #CCCCCC;
		font-size: 0.75em;
		font-weight: 400;
		padding-bottom: 5px;

		a {
			color: #CCC;
		}
	}

	p.personal_text {
		margin-bottom: 10px;
	}
}

.hide_footer {
	display: none;
}