#footer {
	padding: 0 0 5px 0;
	text-align: center;

	.home_copyright {
		text-transform: uppercase;
		color: #CCCCCC;
		font-size: 0.75em;
		font-weight: 400;
	}

	.personal_text {
		color: #CCCCCC;
		font-size: 0.75em;
		font-weight: 400;
	}

	.hosted_by {
		text-transform: uppercase;
		color: #CCCCCC;
		font-size: 0.75em;
		font-weight: 400;
	}
}