/*
 * The footer.
 * The footer is a child of the workbench and shares the vertical space of the
 * workbench with the view container.
 * The workbench uses `dispay: flex` thus making the footer a flex item.
 * The footer always has its natural height.
 */
#lychee_footer {
	text-align: center;
	padding: 5px 0 5px 0;
	background: $colorAppBg;
	transition: color 0.3s, opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s, margin-left 0.5s;

	p {
		color: #cccccc;
		font-size: 0.75em;
		font-weight: 400;
		line-height: 26px;

		a {
			color: #ccc;
		}
		a:visited {
			color: #ccc;
		}
	}

	p.hosted_by,
	p.home_copyright {
		text-transform: uppercase;
	}

	p:empty,
	#home_socials a[href=""] {
		display: none;
	}
}

.hide_footer {
	display: none;
}
