div#frame {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

body.mode-gallery,
body.mode-view,
body.mode-none {
	div#frame {
		display: none;
	}
}

#background_canvas {
	width: 100%;
	height: 100%;
	position: absolute;
}

#background {
	position: absolute;
	display: none;
}

#noise {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/noise.png");
	background-repeat: repeat;
	background-position: 44px 44px;
}

.image_container {
	margin: auto;
	width: 95vw;
	height: 95vh;
	text-align: center;
	line-height: 100vh;

	img {
		vertical-align: middle;
		height: 100%;
		width: 100%;
		object-fit: contain;
		filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3)) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
	}
}

#frame-shutter {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	background-color: #1d1d1d; // same as body background
	opacity: 1;
	transition: opacity 1s ease-in-out;

	&.opened {
		opacity: 0;
	}
}
