/* The side navigation menu */
.leftMenu {
	height: 100vh; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 4; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.leftMenu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.leftMenu a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.leftMenu .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.leftMenu .closetxt {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 24px;
	height: 28px;
	padding-top: 16px;
	color: #111;
	display: inline-block;
	width: 210px;
	&:hover {
		color: #818181;
	}
}

.leftMenu .iconic {
	display: inline-block;
	margin: 0 10px 0 1px;
	width: 15px;
	height: 14px;
	fill: #818181;
}

.leftMenu .iconic.ionicons {
	margin: 0 8px -2px 0;
	width: 18px;
	height: 18px;
}

.leftMenu__visible {
	width: 250px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.leftMenu {
		padding-top: 15px;
	}
	.leftMenu a {
		font-size: 18px;
	}
}
