.logs_diagnostics_view {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: #CCC;
	font-size: 12px;
	line-height: 14px;

	pre {
		font-family: monospace;
		user-select: text;
	}
}

.clear_logs_update {

	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;

	.basicModal__button {
		margin-top: 10px;
		color: #2293ec;
		display: inline-block;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .02), inset 1px 0 0 rgba(0, 0, 0, .2);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .02), inset 1px 0 0 rgba(0, 0, 0, .2);
		border-radius: 5px;
	}

	#Clean_Noise, #Update_Lychee {
		width: 200px;
		margin-left: auto;
		display: block;
		margin-right: auto;
	}
}