.logs_diagnostics_view {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: #ccc;
	font-size: 12px;
	line-height: 14px;

	pre {
		font-family: monospace;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}
}

.clear_logs_update {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: 30px;
}

.clear_logs_update,
.logs_diagnostics_view {
	.basicModal__button {
		//margin-top: 10px;
		color: #2293ec;
		display: inline-block;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.02), inset 1px 0 0 rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.02), inset 1px 0 0 rgba(0, 0, 0, 0.2);
		border-radius: 5px;
	}

	.iconic {
		display: inline-block;
		margin: 0 10px 0 1px;
		width: 13px;
		height: 12px;
		fill: #2293ec;
	}

	.button_left {
		margin-left: 24px;
		width: 400px;
	}
}
