#mapview {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(color(mapview-background), 0.98);
	transition: background-color 0.3s;

	// Modes -------------------------------------------------------------- //
	&.view {
		background-color: inherit;
	}

	&.full {
		background-color: rgba(color(mapview-full-background), 1);
		cursor: none;
	}
	#leaflet_map_full {
		top: 50px;
		height: 100%;
		width: 100%;
		float: left;
	}
}

.leaflet-marker-photo img {
	width: 100%;
	height: 100%;
}

.leaflet-popup-content-wrapper {
	background-color: color(leaflet-popup-content-wrapper-background);
	padding: 3px;
}

.image-leaflet-popup {
	width: 100%;
}

.leaflet-popup-content div {
	pointer-events: none;
	position: absolute;
	bottom: 19px;
	left: 22px;
	right: 22px;
	padding-bottom: 10px;
	background: linear-gradient(
		to bottom,
		rgba(color(leaflet-popup-content-div-background), 0),
		rgba(color(leaflet-popup-content-div-background), 0.6)
	);
}

.leaflet-popup-content h1 {
	top: 0px;
	position: relative;
	margin: 12px 0px 5px 15px;
	font-size: 16px;
	font-weight: 700;
	text-shadow: 0 1px 3px rgba(color(leaflet-popup-content-h1-text-shadow), 0.4);
	color: color(leaflet-popup-content-h1-text);
	white-space: nowrap;
	text-overflow: ellipsis;
}

.leaflet-popup-content span {
	margin-left: 12px;
}

.leaflet-popup-content svg {
	fill: color(leaflet-popup-content-svg-fill);
	vertical-align: middle;
}

.leaflet-popup-content p {
	display: inline;
	font-size: 11px;
	margin: 18px 5px;
	color: color(leaflet-popup-content-p-text);
}

.leaflet-popup-content .iconic {
	width: 20px;
	height: 15px;
}
