.directLinks {
	input.text {
		width: calc(100% - 30px);
		color: white(.6);
		padding: 2px;
	}

	.basicModal__button {
		display: inline-block;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .02), inset 1px 0 0 rgba(0, 0, 0, .2);
		width: 25px;
		height: 25px;
		border-radius: 5px;
		border-bottom: 0;
		padding: 3px 0 0;
		margin-top: -5px;
		float: right;

		.iconic {
			fill: #2293EC;
			width: 16px;
			height: 16px;
		}
	}

	.basicModal__button:hover {
		background: #2293EC;
		cursor: pointer;

		.iconic {
			fill: #FFFFFF;
		}
	}

	.imageLinks {
		margin-top: -25px;
		padding-bottom: 35px;

		p {
			padding: 5px 30px;
			font-size: 12px;
			line-height: 15px;
		}

		.basicModal__button {
			margin-top: -8px;
		}
	}
}

.downloads {
	padding: 30px;

	.basicModal__button {
		color: #2293EC;
		display: inline-block;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .02), inset 1px 0 0 rgba(0, 0, 0, .2);
		border-radius: 5px;
		border-bottom: 0;
		margin: 5px 0;

		.iconic {
			fill: #2293EC;
			margin: 0 10px 0 1px;
			width: 11px;
			height: 10px;
		}
	}

	.basicModal__button:hover {
		color: #FFFFFF;
		background: #2293EC;
		cursor: pointer;

		.iconic {
			fill: #FFFFFF;
		}
	}
}
