/*
 * The sidebar container.
 * The right sidebar container shares the horizontal space with the workbench.
 * The outer container uses `dispay: flex` thus making the sidebar container
 * a flex item.
 * The sidebar container is responsible for showing/hiding the actual sidebar.
 */
#lychee_sidebar_container {
	width: 0; // per default the sidebar is closed and hence has a zero width
	transition: width 0.3s $timing;
}

/**
 * The width of actual sidebar must be the same as the width of the sidebar
 * container if activated.
 * The width of the actual sidebar must be constant all the time to avoid
 * relayouting and re-wrapping of the child elements of the sidebar even
 * if the container shrinks and grows.
 */
#lychee_sidebar_container.active,
#lychee_sidebar {
	width: 350px;
}

/**
 * The sidebar is a flex container which layouts the sidebar header and
 * the sidebar content in a column.
 */
#lychee_sidebar {
	height: 100%;
	background-color: rgba(25, 25, 25, 0.98);
	border-left: 1px solid black(0.2);
}

// Header -------------------------------------------------------------- //
#lychee_sidebar_header {
	height: 49px;
	background: linear-gradient(to bottom, white(0.02), black(0));
	border-top: 1px solid $colorBlue;
}

#lychee_sidebar_header h1 {
	margin: 15px 0 15px 0;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

#lychee_sidebar_content {
	overflow: clip auto;
	-webkit-overflow-scrolling: touch;

	// Divider -------------------------------------------------------------- //
	.sidebar__divider {
		padding: 12px 0 8px;
		width: 100%;
		border-top: 1px solid white(0.02);
		box-shadow: $shadow;

		&:first-child {
			border-top: 0;
			box-shadow: none;
		}

		h1 {
			margin: 0 0 0 20px;
			color: white(0.6);
			font-size: 14px;
			font-weight: bold;
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			user-select: text;
		}
	}

	// Edit -------------------------------------------------------------- //
	.edit {
		display: inline-block;
		margin-left: 3px;
		width: 10px;

		.iconic {
			width: 10px;
			height: 10px;
			fill: white(0.5);
			transition: fill 0.2s ease-out;
		}

		&:active .iconic {
			transition: none;
			fill: white(0.8);
		}
	}

	// Table -------------------------------------------------------------- //
	table {
		margin: 10px 0 15px 20px;
		width: calc(100% - 20px);
	}

	table tr td {
		padding: 5px 0;
		color: #fff;
		font-size: 14px;
		line-height: 19px;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;

		&:first-child {
			width: 110px;
		}

		&:last-child {
			padding-right: 10px;
		}

		span {
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			user-select: text;
		}
	}

	// Tags -------------------------------------------------------------- //
	#tags {
		width: calc(100% - 40px);
		margin: 16px 20px 12px 20px;
		color: #fff;
		display: inline-block;
	}

	#tags > div {
		display: inline-block;
	}

	#tags .empty {
		font-size: 14px;
		margin: 0 2px 8px 0;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}

	#tags .edit {
		margin-top: 6px;
	}

	#tags .empty .edit {
		margin-top: 0;
	}

	#tags .tag {
		cursor: default;
		display: inline-block;
		padding: 6px 10px;
		margin: 0 6px 8px 0;
		background-color: black(0.5);
		border-radius: 100px;
		font-size: 12px;
		transition: background-color 0.2s;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}

	#tags .tag span {
		padding: 0;
		margin: 0 0 -2px 0;
		width: 0;
		overflow: hidden;
		transform: scale(0);
		transition: width 0.2s, margin 0.2s, transform 0.2s, fill 0.2s ease-out;

		.iconic {
			fill: $colorRed;
			width: 8px;
			height: 8px;
		}

		&:active .iconic {
			transition: none;
			fill: darken($colorRed, 10%);
		}
	}

	#leaflet_map_single_photo {
		margin: 10px 0 0 20px;
		height: 180px;
		width: calc(100% - 40px);
	}

	.attr_location {
		&.search {
			cursor: pointer;
		}
	}
}

// restrict hover features to devices that support it
@media (hover: hover) {
	#lychee_sidebar {
		.edit:hover .iconic {
			fill: white(1);
		}

		#tags .tag {
			&:hover {
				background-color: black(0.3);

				&.search {
					cursor: pointer;
				}

				span {
					width: 9px;
					margin: 0 0 -2px 5px;
					transform: scale(1);
				}
			}

			span:hover .iconic {
				fill: lighten($colorRed, 10%);
			}
		}
	}
}

// responsive web design for smaller screens
@media only screen and (max-width: 567px), only screen and (max-width: 640px) and (orientation: portrait) {
	// sidebar as overlay, small size
	#lychee_sidebar_container {
		position: absolute;
		right: 0;
	}

	#lychee_sidebar {
		background-color: rgba(0, 0, 0, 0.6);
	}

	#lychee_sidebar_container.active,
	#lychee_sidebar {
		width: 240px;
	}

	#lychee_sidebar_header {
		height: 22px;
	}

	#lychee_sidebar_header h1 {
		margin: 6px 0;
		font-size: 13px;
	}

	#lychee_sidebar_content {
		padding-bottom: 10px;

		.sidebar__divider {
			padding: 6px 0 2px;

			h1 {
				margin: 0 0 0 10px;
				font-size: 12px;
			}
		}

		table {
			margin: 4px 0 6px 10px;
			width: calc(100% - 16px);

			tr td {
				padding: 2px 0;
				font-size: 11px;
				line-height: 12px;

				&:first-child {
					width: 80px;
				}
			}
		}

		#tags {
			margin: 4px 0 6px 10px;
			width: calc(100% - 16px);

			.empty {
				margin: 0;
				font-size: 11px;
			}
		}
	}
}

// sidebar on side, medium size
@media only screen and (min-width: 568px) and (max-width: 768px),
	only screen and (min-width: 568px) and (max-width: 640px) and (orientation: landscape) {
	#lychee_sidebar_container.active,
	#lychee_sidebar {
		width: 280px;
	}

	#lychee_sidebar_header {
		height: 28px;
	}

	#lychee_sidebar_header h1 {
		margin: 8px 0;
		font-size: 15px;
	}

	#lychee_sidebar_content {
		padding-bottom: 10px;

		.sidebar__divider {
			padding: 8px 0 4px;

			h1 {
				margin: 0 0 0 10px;
				font-size: 13px;
			}
		}

		table {
			margin: 4px 0 6px 10px;
			width: calc(100% - 16px);

			tr td {
				padding: 2px 0;
				font-size: 12px;
				line-height: 13px;

				&:first-child {
					width: 90px;
				}
			}
		}

		#tags {
			margin: 4px 0 6px 10px;
			width: calc(100% - 16px);

			.empty {
				margin: 0;
				font-size: 12px;
			}
		}
	}
}
