// Functions --------------------------------------------------------------- //
@function black($opacity) {
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
	@return rgba(255, 255, 255, $opacity);
}

// Properties -------------------------------------------------------------- //
$shadow: 0 -1px 0 black(0.2);
// Colors ------------------------------------------------------------------ //
$colorBlue: #2293ec;
$colorRed: #d92c34;
$colorPink: #ff82ee;
$colorGreen: #00aa00;
$colorYellow: #ffcc00;
$colorOrange: #ff9900;
$colorBlack: #000000;
$colorDarkAnthracite: #1d1d1d;

$colorDialogContainerBg: black(0.85);
$colorAppBg: $colorDarkAnthracite;
$colorAppBgFullMode: $colorBlack;
$colorDialogBg: linear-gradient(to bottom, #444, #333);
$colorDialogMainButtonFont: #999999;
$colorDialogMainActionButtonFont: $colorBlue;
$colorDialogMainButtonWarningFont: $colorRed;
$colorDialogDisabledFg: #999999;
$colorDialogDefaultFg: #ececec;
$colorDialogEmphasizedFg: #ffffff;
$colorFormElementFg: #ffffff;
$colorFormElementBg: #2c2c2c;
$colorFormElementAccent: $colorBlue;
$colorFormElementError: $colorRed;

$colorImportError: $colorRed;
$colorImportWarning: $colorYellow;
$colorImportSuccess: $colorGreen;

// Animations -------------------------------------------------------------- //
$timing: cubic-bezier(0.51, 0.92, 0.24, 1);
$timingBounce: cubic-bezier(0.51, 0.92, 0.24, 1.15);
// Rest -------------------------------------------------------------------- //
@import "../reset";
* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: color 0.3s, opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s;
}

html,
body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: clip;
}

body {
	background-color: $colorAppBg;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
textarea {
	-webkit-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

.svgsprite {
	display: none;
}

.iconic {
	width: 100%;
	height: 100%;
}

#upload {
	display: none;
}

// Files ------------------------------------------------------------------- //
@import "animations";
@import "application_container";
@import "container";
@import "content";
@import "frame";
@import "leftMenu";
@import "basicContext.custom";
@import "basicContext.extended";
@import "basicModal.custom";
@import "header";
@import "imageview";
@import "mapview";
@import "sidebar";
@import "loading";
@import "form";
@import "dialog_about";
@import "dialog_downloads";
@import "dialog_import";
@import "dialog_login";
@import "dialog_photo_links";
@import "dialog_token";
@import "warning";
@import "settings";
@import "users";
@import "u2f";
@import "logs_diagnostics";
@import "sharing";
@import "multiselect";
@import "justified_layout";
@import "footer";
@import "social-footer";
@import "tv";
@import "view_container";
@import "workbench_container";
