// Properties -------------------------------------------------------------- //
$shadow: 0 -1px 0 rgba(color("BLACK"), 0.2);
// Colors ----------------------------------------------------------- //
$colors: (
	// Blues
	picton-blue: #2293ec,
	darken5-picton-blue: darken(#2293ec, 5%),
	darken10-picton-blue: darken(#2293ec, 10%),
	darken15-picton-blue: darken(#2293ec, 15%),
	picton-blue2: #4393e6,
	darken5-picton-blue2: darken(#4393e6, 5%),
	darken10-picton-blue2: darken(#4393e6, 10%),
	darken15-picton-blue2: darken(#4393e6, 15%),
	chathams-blue: #153674,
	cerulean-blue: #2651ae,
	// Red
	reed-roof-terracota: #b22027,
	well-read: #aa3039,
	punch: #d92c34,
	darken10_punch: darken(#d92c34, 10%),
	lighten10_punch: lighten(#d92c34, 10%),
	scarlet: #e92a00,
	blush-pink: #ff82ee,
	coffee-bean: #2f0d0e,
	cedar: #451317,
	rosewood: #640000,
	mahogany: #640a0a,
	// Green
	chartreuse: #84e900,
	light-green: #00cc00,
	japanese-laurel: #00aa00,
	japanese-laurel2: #009900,
	japanese-laurel3: #007700,
	// Orange/Yellow
	manz: #f0ef77,
	supernova: #ffcc00,
	turbo: #e4e900,
	orange-peel: #ff9900,
	// Grey
	white: white,
	lighten20-white: lighten(white, 20%),
	// lighten white doesnt make much sense.
	alabaster: #f7f7f7,
	seashell: #f1f1f1,
	gallery: #ececec,
	alto: #dddddd,
	light-silver: #cccccc,
	gray-nobel: #b5b5b5,
	gray-nobel2: #b4b4b4,
	gray: #818181,
	gray2: #888888,
	dove-gray: #707070,
	dove-gray2: #666666,
	gray-emperor: #555555,
	tundora: #444444,
	mine-shaft: #333333,
	dark-mine-shaft: #222222,
	mine-shaft2: #252525,
	cod-gray2: #1d1d1d,
	cod-gray: #111111,
	cod-gray3: #0f0f0f,
	cod-gray4: #0a0a0a,
	cod-gray5: #1a1a1a,
	black: black
);
@function color_value($color-value) {
	@return map-get($colors, $color-value);
}
// Color-Place ------------------------------------
$color-place: (
	// Buttons
	default-button-fill: color_value(white),
	nsfw-button-fill: color_value(blush-pink),
	star-button-fill: color_value(manz),
	eye-active-button-fill: color_value(punch),
	eye-active-hidden-button-fill: color_value(orange-peel),
	eye-active-not-hidden-button-fill: color_value(japanese-laurel),
	info-active-button-fill: color_value(picton-blue),
	// Badge
	default-badge-background: color_value(punch),
	nsfw-badge-background: color_value(blush-pink),
	star-badge-background: color_value(supernova),
	list-badge-background: color_value(picton-blue),
	tag-badge-background: color_value(japanese-laurel),
	cover-badge-background: color_value(orange-peel),
	hidden-badge-background: color_value(orange-peel),
	not-hidden-badge-background: color_value(japanese-laurel),
	// thumbimg
	default-thumbimg-border: color_value(white),
	focus-thumbimg-border: color_value(picton-blue),
	active-thumbimg-border: color_value(darken15-pictor-blue),
	hover-thumbimg-border: color_value(picton-blue),
	selected-thumbimg-outline: color_value(picton-blue),
	// Header-search
	header-search-background: color_value(cod-gray2),
	header-search-text: color_value(white),
	default-header-search-border: color_value(black),
	focus-header-search-border: color_value(picton-blue),
	// Header title
	header-title-text: color_value(white),
	// sharing view
	default-sharingview-button-color: color_value(picton-blue),
	default-sharingview-button-background: color_value(black),
	default-sharingview-button-border: color_value(picton-blue),
	sharingview-blue-iconic-fill: color_value(picton-blue),
	sharingview-grey-iconic-fill: color_value(gray-nobel2),
	sharingview-borderblue-border: color_value(picton-blue),
	// basicContext
	active-basicContext-data-iconic-fill: color_value(orange-peel),
	basicContext-data-iconic-fill: color_value(white),
	basicContext-data-cover-background: color_value(dark-mine-shaft),
	basicContext-data-cover-box-shadow: color_value(black),
	basicontext-data-input-link-box-shadow: color_value(white),
	basicontext-data-input-link-text: color_value(white),
	basicontext-data-input-link-background: color_value(mine-shaft),
	basicontext-data-input-link-border: color_value(black),
	basicontext-background-first-gradiant: color_value(mine-shaft),
	basicontext-background-2nd-gradiant: color_value(mine-shaft2),
	basicontext-box-shadow-1: color_value(black),
	basicontext-box-shadow-2: color_value(white),
	basicontext-border: color_value(black),
	basicontext-item-text: color_value(light-silver),
	hover-basicontext-item-text: color_value(lighten20-white),
	hover-basicontext-item-iconic-fill: color_value(lighten20-white),
	basicontext-item-separator-border-bottom: color_value(white),
	basicontext-item-separator-background: color_value(black),
	hover-basicContext-enabled-data-first-gradiant-color: color_value(picton-blue),
	hover-basicContext-enabled-data-2nd-gradiant-color: color_value(darken5-picton-blue),
	active-basicContext-enabled-data-first-gradiant-color: color_value(darken10-picton-blue),
	active-basicContext-enabled-data-2nd-gradiant-color: color_value(darken15-picton-blue),
	// basicmodal
	basicmodal-select-option-background: color_value(mine-shaft),
	basicmodal-select-option-text: color_value(white),
	basicmodal-hr-border-top: color_value(black),
	basicmodal-action-text: color_value(white),
	basicmodal-cancel-text: color_value(punch),
	basicmodal-input-text: color_value(white),
	basicmodal-input-bottom-border: color_value(dark-mine-shaft),
	focus-basicmodal-input-bottom-border: color_value(picton-blue),
	error-basicmodal-input-bottom-border: color_value(punch),
	basicmodal-radio-text: color_value(white),
	basicmodal-radio-checkbox-fill: color_value(picton-blue),
	basicmodal-select-text: color_value(white),
	after-basicmodal-select-text: color_value(picton-blue),
	basicmodal-slider-background: color_value(white),
	before-basicmodal-slider-background: color_value(picton-blue),
	// Content
	before-content-background: color_value(white),
	content-photo-thumbimg-background: color_value(dark-mine-shaft),
	content-photo-thumbimg-text: color_value(dark-mine-shaft),
	content-photo-thumbimg-box-shadow: color_value(black),
	content-photo-overlay-background-gradiant: color_value(black),
	content-photo-overlay-h1-text: color_value(white),
	content-photo-overlay-h1-text-shadow: color_value(black),
	content-photo-overlay-a-text: color_value(light-silver),
	content-photo-overlay-a-text-shadow: color_value(black),
	content-photo-overlay-a-iconic-fill: color_value(light-silver),
	content-photo-badge-border: color_value(white),
	content-photo-badge-text: color_value(white),
	content-photo-badge-text-shadow: color_value(black),
	content-photo-badge-box-shadow: color_value(black),
	content-photo-badge-iconic-fill: color_value(white),
	content-divider-border-top: color-value(white),
	content-divider-h1-text: color_value(white),
	content-no-content-text: color_value(white),
	content-no-content-iconic-fill: color_value(white),
	// Settings
	setting-line-warning-text: color_value(punch),
	setting-slider-background: color_value(black),
	checked-setting-slider-background: color_value(white),
	before-setting-slider-background: color_value(picton-blue),
	setting-input-text-text: color_value(white),
	setting-input-text-border-bottom: color_value(dark-mine-shaft),
	focus-setting-input-text-border-bottom: color_value(picton-blue),
	error-setting-input-text-border-bottom: color_value(punch),
	// Sidebar
	sidebar-tags-icon-fill: color_value(punch),
	active-sidebar-tags-icon-fill: color_value(darken10-punch),
	sidebar-header-border-top: color_value(picton-blue),
	hover-sidebar-tag-span-fill: color_value(lighten10_punch),
	// User
	user-viewline-input-text-error-border-bottom: color_value(punch),
	user-input-text-text: color_value(white),
	user-input-text-border-bottom: color_value(dark-mine-shaft),
	focus-user-input-text-border-bottom: color_value(picton-blue),
	//loading
	loading-border-bottom: color(black),
	loading-h1-text: color(light-silver),
	loading-h1-text-shadow: color(black),
	loading-background-first-gradiant: color_value(chathams-blue),
	loading-background-2nd-gradiant: color_value(cerulean-blue),
	error-loading-background: color_value(coffee-bean),
	error-loading-background-first-gradiant: color_value(cedar),
	error-loading-background-2nd-gradiant: color_value(well-read),
	sucess-loading-background: color_value(japanese-laurel3),
	sucess-loading-background-first-gradiant: color_value(japanese-laurel3),
	sucess-loading-background-2nd-gradiant: color_value(japanese-laurel2),
	sucess-loading-background-third-gradiant: color_value(japanese-laurel),
	sucess-loading-background-4th-gradiant: color_value(light-green),
	// Sensitive warning
	warning-background: color_value(rosewood),
	warning-text: color_value(white),
	warning-h1-border-bottom: color_value(white),
	// Social-footer
	social-footer-icons-text: color_value(light-silver),
	hover-social-footer-icons-text: color_value(gray-nobel),
	// imageviews
	imageviews-background: color_value(cod-gray4),
	imageviews-full-background: color_value(black),
	imageviews-image-overlay-text: color_value(white),
	imageviews-image-overlay-a-iconic-fill: color_value(white),
	imageviews-image-overlay-text-shadow: color_value(black),
	imageviews-arrows-a-border: color_value(white),
	imageviews-arrows-iconic-fill: color_value(white),
	// header
	header-background-first-gradiant: color_value(dark-mine-shaft),
	header-background-2nd-gradiant: color_value(cod-gray5),
	header-border-bottom: color_value(cod-gray3),
	header-view-error-background: color_value(cod-gray5),
	active-header-title-iconic-fill: color_value(white),
	header-button-iconic-fill: color_value(white),
	header-search-box-shadow: color_value(white),
	focus-header-search-box-shadow: color_value(white),
	header-clear-text: color_value(white),
	header-hostedwith-text: color_value(gray2),
	hover-header-button-iconic-fill: color_value(white),
	hover-header-clear-text: color_value(white),
	hover-header-hostedwith-background: color_value(black),
	// leftmenu
	leftmenu-background: color_value(cod-gray),
	leftmenu-a-text: color_value(gray),
	leftmenu-closetxt-text: color_value(cod-gray),
	leftmenu-iconic-fill: color_value(gray),
	hover-leftmenu-closetxt-text: color_value(gray),
	hover-leftmenu-a-text: color_value(seashell),
	// log-diagnostic
	log-diagnostic-text: color_value(light-silver),
	log-diagnostic-basicmodal-button-text: color_value(picton-blue),
	log-diagnostic-basicmodal-button-box-shadow-1: color_value(black),
	log-diagnostic-basicmodal-button-box-shadow-2: color_value(white),
	log-diagnostic-iconic-fill: color_value(picton-blue),
	hover-log-diagnostic-basicmodal-button-background: color_value(picton-blue),
	hover-log-diagnostic-basicmodal-button-text: color_value(white),
	hover-log-diagnostic-iconic-fill: color_value(white),
	// mapview
	mapview-background: color_value(mahogany),
	mapview-full-background: color_value(black),
	leaflet-popup-content-wrapper-background: color_value(black),
	leaflet-popup-content-div-background: color_value(black),
	leaflet-popup-content-h1-text: color_value(white),
	leaflet-popup-content-h1-text-shadow: color_value(white),
	leaflet-popup-content-svg-fill: color_value(white),
	leaflet-popup-content-p-text: color_value(white),
	// message
	message-basicmodal-container-background: color_value(black),
	message-basicmodal-background-gradiant-1: color_value(tundora),
	message-basicmodal-background-gradiant-2: color_value(mine-shaft),
	message-basicmodal-p-text: color_value(white),
	message-basicmodal-p-b-text: color_value(white),
	message-basicmodal-p-a-text: color_value(white),
	message-basicmodal-p-a-border-bottom: color_value(gray2),
	message-button-background: color_value(black),
	message-button-color: color_value(white),
	message-button-box-shadow: color_value(white),
	active-message-button-background: color_value(black),
	message-basicmodal-action-box-shadow-1: color_value(white),
	message-basicmodal-action-box-shadow-2: color_value(black),
	message-input-text-box-shadow: color_value(white),
	message-choice-label-text: color_value(white),
	message-choice-label-checkbox-background: color_value(black),
	message-choice-label-checkbox-box-shadow: color_value(black),
	checked-message-label-input-checkbox-background: color_value(black),
	active-message-label-input-checkbox-background: color_value(black),
	disabled-message-label-input-checkbox-background: color_value(black),
	disabled-message-label-input-label-text: color_value(black),
	message-choice-p-text: color_value(black),
	message-select-text: color_value(black),
	message-select-border: color_value(black),
	message-select-box-shadow: color_value(black),
	message-select-option-background: color_value(white),
	message-select-option-text: color_value(mine-shaft),
	message-version-text: color_value(black),
	message-version-span-a-text: color_value(black),
	message-version-rows-background: color_value(black),
	message-version-rows-box-shadow: color_value(black),
	message-version-row-background: color_value(black),
	message-version-row-a-name-text: color_value(white),
	message-version-row-a-status-text: color_value(black),
	error-message-version-row-text: color_value(scarlet),
	warning-message-version-row-text: color_value(turbo),
	success-message-version-row-text: color_value(chartreuse),
	message-row-p-notice-text: color_value(black),
	message-switch-text: color_value(white),
	message-switch-label-text: color_value(black),
	message-switch-label-slider-border: color_value(black),
	message-switch-label-slider-box-shadow: color_value(white),
	disabled-message-switch-label-input-slider-background: color_value(black),
	disabled-message-switch-label-text: color_value(black),
	message-switch-p-text: color_value(black),
	hover-message-basicmodal-button-background: color_value(black),
	// multiselect
	// photos-links
	// footer
	footer-background: color_value(cod-gray2),
	footer-p-a-text: color_value(light-silver),
	// frame
	frame-body-background: color_value(black),
	frame-img-drop-shadow: color_value(black),
	// TV
	focus-tv-basicmodal-button-background: color_value(picton-blue),
	focus-tv-basicmodal-button-text: color_value(white),
	focus-tv-basicmodal-button-action-text: color_value(white),
	focus-tv-content-outline: color_value(white),
	focus-tv-header-button-background: color_value(white),
	focus-tv-header-button-title-background: color_value(white),
	focus-tv-header-button-title-text: color_value(black),
	focus-tv-header-button-iconic-fill: color_value(black),
	tv-imageviews-background: color_value(black),
	// Landing
	landing-intro-background: color_value(black),
	landing-intro-h1-text: color_value(white),
	landing-intro-h2-text: color_value(gallery),
	landing-logo-h1-text: color_value(white),
	landing-menu-a-text: color_value(white),
	hover-landing-menu-a-text: color_value(gray-nobel),
	current-menu-item-landing-menu-a-text: color_value(gray-nobel),
	landing-footer-background: color_value(black),
	landing-footer-home-copyright-text: color_value(white),
	landing-body-background: color_value(black),
	// page
	page-body-background: color_value(white),
	page-footer-background: color_value(white),
	page-footer-text: color_value(dove-gray),
	page-footer-p-text: color_value(dove-gray),
	page-social-socialicons-text: color-value(white),
	hover-page-social-socialicons-text: color_value(gray-nobel),
	page-social-socials-background: color_value(black),
	page-menu-a-text: color_value(dove-gray2),
	current-menu-item-page-menu-a-text: color_value(gray-nobel),
	hover-page-menu-a-text: color_value(gray-nobel),
	page-header-background: color_value(alabaster),
	page-logo-h1-text: color_value(black),
	page-footer-p-text: color_value(light-silver),
	page-footer-p-a-text: color_value(light-silver),
	visited-page-footer-p-a-text: color_value(light-silver),
	page-content-p-text: color_value(dove-gray),
	page-content-left_50_img-border: color_value(dove-gray)
);

:root {
	@each $name, $color in $color-place {
		--color-#{$name}: #{$color};
	}
}
@function color($color-name) {
	@return var(--color-#{$color-name});
}
// Animations -------------------------------------------------------------- //
$timing: cubic-bezier(0.51, 0.92, 0.24, 1);
$timingBounce: cubic-bezier(0.51, 0.92, 0.24, 1.15);
// Rest -------------------------------------------------------------------- //
@import "../reset";
* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: color 0.3s, opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s;
}

html,
body {
	min-height: 100vh;
	position: relative;
}

body {
	background-color: #1d1d1d;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.view {
		background-color: #0f0f0f;
	}
}

div#container {
	// If there is a footer, we will set padding-bottom to its height
	// using JavaScript since the height of the footer can vary.
	position: relative;
}

input {
	-webkit-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

.svgsprite {
	display: none;
}

.iconic {
	width: 100%;
	height: 100%;
}

#upload {
	display: none;
}

// Files ------------------------------------------------------------------- //
@import "animations";
@import "content";
@import "leftMenu";
@import "basicContext.custom";
@import "basicContext.extended";
@import "basicModal.custom";
@import "header";
@import "imageview";
@import "mapview";
@import "sidebar";
@import "loading";
@import "message";
@import "warning";
@import "settings";
@import "users";
@import "u2f";
@import "logs_diagnostics";
@import "sharing";
@import "multiselect";
@import "justified_layout";
@import "../page/footer";
@import "footer";
@import "social-footer";
@import "photo-links";
