// Functions --------------------------------------------------------------- //
@function black($opacity) {
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
	@return rgba(255, 255, 255, $opacity);
}

// Properties -------------------------------------------------------------- //
$shadow: 0 -1px 0 black(0.2);
// Colors ----------------------------------------------------------- //
$colors: (
	// Blues
	picton-blue: #2293ec,
	darken5-picton-blue: darken(#2293ec, 5%),
	darken10-picton-blue: darken(#2293ec, 10%),
	darken15-picton-blue: darken(#2293ec, 15%),
	picton-blue2: #4393e6,
	darken5-picton-blue2: darken(#4393e6, 5%),
	darken10-picton-blue2: darken(#4393e6, 10%),
	darken15-picton-blue2: darken(#4393e6, 15%),
	chathams-blue: #153674,
	cerulean-blue: #2651ae,
	// Red
	reed-roof-terracota: #b22027,
	well-read: #aa3039,
	punch: #d92c34,
	darken10_punch: darken(#d92c34, 10%),
	lighten10_punch: lighten(#d92c34, 10%),
	blush-pink: #ff82ee,
	coffee-bean: #2f0d0e,
	cedar: #451317,
	rosewood: #640000,
	// Green
	light-green: #00cc00,
	japanese-laurel: #00aa00,
	japanese-laurel2: #009900,
	japanese-laurel3: #007700,
	// Orange/Yellow
	manz: #f0ef77,
	supernova: #ffcc00,
	orange-peel: #ff9900,
	// Grey
	white: white,
	lighten20-white: lighten(white, 20%),
	// lighten white doesnt make much sense.
	alabaster: #f7f7f7,
	seashell: #f1f1f1,
	gallery: #ececec,
	alto: #dddddd,
	light-silver: #cccccc,
	gray-nobel: #b5b5b5,
	gray-nobel2: #b4b4b4,
	gray: #818181,
	gray2: #888888,
	dove-gray: #707070,
	dove-gray2: #666666,
	gray-emperor: #555555,
	mine-shaft: #333333,
	dark-mine-shaft: #222222,
	cod-gray2: #1d1d1d,
	cod-gray: #111111,
	cod-gray3: #0f0f0f,
	cod-gray4: #0a0a0a,
	black: black
);
@function color_value($color-value) {
	@return map-get($colors, $color-value);
}
// Color-Place ------------------------------------
$color-place: (
	// Buttons
	default-button-fill: color_value(white),
	nsfw-button-fill: color_value(blush-pink),
	star-button-fill: color_value(manz),
	eye-active-button-fill: color_value(punch),
	eye-active-hidden-button-fill: color_value(orange-peel),
	eye-active-not-hidden-button-fill: color_value(japanese-laurel),
	info-active-button-fill: color_value(picton-blue),
	// Badge
	default-badge-background: color_value(punch),
	nsfw-badge-background: color_value(blush-pink),
	star-badge-background: color_value(supernova),
	list-badge-background: color_value(picton-blue),
	tag-badge-background: color_value(japanese-laurel),
	cover-badge-background: color_value(orange-peel),
	hidden-badge-background: color_value(orange-peel),
	not-hidden-badge-background: color_value(japanese-laurel),
	// thumbimg
	default-thumbimg-border: color_value(white),
	focus-thumbimg-border: color_value(picton-blue),
	active-thumbimg-border: color_value(darken15-pictor-blue),
	hover-thumbimg-border: color_value(picton-blue),
	selected-thumbimg-outline: color_value(picton-blue),
	// Header-search
	header-search-background: color_value(cod-gray2),
	header-search-text: color_value(white),
	default-header-search-border: color_value(black),
	focus-header-search-border: color_value(picton-blue),
	// Header title
	header-title-text: color_value(white),
	// sharing view
	default-sharingview-button-color: color_value(picton-blue),
	default-sharingview-button-background: color_value(black),
	default-sharingview-button-border: color_value(picton-blue),
	sharingview-blue-iconic-fill: color_value(picton-blue),
	sharingview-grey-iconic-fill: color_value(gray-nobel2),
	sharingview-borderblue-border: color_value(picton-blue),
	// basicContext
	active-basicContext-data-iconic-fill: color_value(orange-peel),
	basicContext-data-iconic-fill: color_value(white),
	hover-basicContext-enabled-data-first-gradiant-color: color_value(picton-blue),
	hover-basicContext-enabled-data-2nd-gradiant-color: color_value(darken5-picton-blue),
	active-basicContext-enabled-data-first-gradiant-color: color_value(darken10-picton-blue),
	active-basicContext-enabled-data-2nd-gradiant-color: color_value(darken15-picton-blue),
	// basicmodal
	basicmodal-action-text: color_value(white),
	basicmodal-cancel-text: color_value(punch),
	basicmodal-input-text: color_value(white),
	basicmodal-input-bottom-border: color_value(dark-mine-shaft),
	focus-basicmodal-input-bottom-border: color_value(picton-blue),
	error-basicmodal-input-bottom-border: color_value(punch),
	basicmodal-radio-text: color_value(white),
	basicmodal-radio-checkbox-fill: color_value(picton-blue),
	basicmodal-select-text: color_value(white),
	after-basicmodal-select-text: color_value(picton-blue),
	basicmodal-slider-background: color_value(white),
	before-basicmodal-slider-background: color_value(picton-blue),
	// Settings
	setting-line-warning-text: color_value(punch),
	setting-slider-background: color_value(black),
	checked-setting-slider-background: color_value(white),
	before-setting-slider-background: color_value(picton-blue),
	setting-input-text-text: color_value(white),
	setting-input-text-border-bottom: color_value(dark-mine-shaft),
	focus-setting-input-text-border-bottom: color_value(picton-blue),
	error-setting-input-text-border-bottom: color_value(punch),
	// Sidebar
	sidebar-tags-icon-fill: color_value(punch),
	active-sidebar-tags-icon-fill: color_value(darken10-punch),
	sidebar-header-border-top: color_value(picton-blue),
	hover-sidebar-tag-span-fill: color_value(lighten10_punch),
	// User
	user-viewline-input-text-error-border-bottom: color_value(punch),
	user-input-text-text: color_value(white),
	user-input-text-border-bottom: color_value(dark-mine-shaft),
	focus-user-input-text-border-bottom: color_value(picton-blue),
	//loading
	loading-border-bottom: color(black),
	loading-h1-text: color(light-silver),
	loading-h1-text-shadow: color(black),
	loading-background-first-gradiant: color_value(chathams-blue),
	loading-background-2nd-gradiant: color_value(cerulean-blue),
	error-loading-background: color_value(coffee-bean),
	error-loading-background-first-gradiant: color_value(cedar),
	error-loading-background-2nd-gradiant: color_value(well-read),
	sucess-loading-background: color_value(japanese-laurel3),
	sucess-loading-background-first-gradiant: color_value(japanese-laurel3),
	sucess-loading-background-2nd-gradiant: color_value(japanese-laurel2),
	sucess-loading-background-third-gradiant: color_value(japanese-laurel),
	sucess-loading-background-4th-gradiant: color_value(light-green),
	// Sensitive warning
	warning-background: color_value(rosewood),
	warning-text: color_value(white),
	warning-h1-border-bottom: color_value(white),
	// Social-footer
	social-footer-icons-text: color_value(light-silver),
	hover-social-footer-icons-text: color_value(gray-nobel),
	// imageviews
	imageviews-background: color_value(cod-gray4),
	imageviews-full-background: color_value(black),
	imageviews-image-overlay-text: color_value(white),
	imageviews-image-overlay-a-iconic-fill: color_value(white),
	imageviews-image-overlay-text-shadow: color_value(black),
	imageviews-arrows-a-border: color_value(white),
	imageviews-arrows-iconic-fill: color_value(white),
	// footer
	footer-background: color_value(cod-gray2),
	footer-p-a-text: color_value(light-silver),
	// frame
	frame-body-background: color_value(black),
	frame-img-drop-shadow: color_value(black),
	// TV
	focus-tv-basicmodal-button-background: color_value(picton-blue),
	focus-tv-basicmodal-button-text: color_value(white),
	focus-tv-basicmodal-button-action-text: color_value(white),
	focus-tv-content-outline: color_value(white),
	focus-tv-header-button-background: color_value(white),
	focus-tv-header-button-title-background: color_value(white),
	focus-tv-header-button-title-text: color_value(black),
	focus-tv-header-button-iconic-fill: color_value(black),
	tv-imageviews-background: color_value(black)
);
:root {
	@each $name, $color in $color-place {
		--color-#{$name}: #{$color};
	}
}
@function color($color-name) {
	@return var(--color-#{$color-name});
}
// Animations -------------------------------------------------------------- //
$timing: cubic-bezier(0.51, 0.92, 0.24, 1);
$timingBounce: cubic-bezier(0.51, 0.92, 0.24, 1.15);
// Rest -------------------------------------------------------------------- //
@import "../reset";
* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: color 0.3s, opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s;
}

html,
body {
	min-height: 100vh;
	position: relative;
}

body {
	background-color: #1d1d1d;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.view {
		background-color: #0f0f0f;
	}
}

div#container {
	// If there is a footer, we will set padding-bottom to its height
	// using JavaScript since the height of the footer can vary.
	position: relative;
}

input {
	-webkit-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

.svgsprite {
	display: none;
}

.iconic {
	width: 100%;
	height: 100%;
}

#upload {
	display: none;
}

// Files ------------------------------------------------------------------- //
@import "animations";
@import "content";
@import "leftMenu";
@import "basicContext.custom";
@import "basicContext.extended";
@import "basicModal.custom";
@import "header";
@import "imageview";
@import "mapview";
@import "sidebar";
@import "loading";
@import "message";
@import "warning";
@import "settings";
@import "users";
@import "u2f";
@import "logs_diagnostics";
@import "sharing";
@import "multiselect";
@import "justified_layout";
@import "../page/footer";
@import "footer";
@import "social-footer";
@import "photo-links";
