// Functions --------------------------------------------------------------- //
@function black($opacity) {
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
	@return rgba(255, 255, 255, $opacity);
}

// Properties -------------------------------------------------------------- //
$shadow: 0 -1px 0 black(.2);

// Colors ------------------------------------------------------------------ //
$colorBlue: #2293EC;
$colorRed: #d92c34;
$colorGreen: #00AA00;
$colorYellow: #FFCC00;
$colorOrange: #FF9900;

// Animations -------------------------------------------------------------- //
$timing: cubic-bezier(.51, .92, .24, 1);
$timingBounce: cubic-bezier(.51, .92, .24, 1.15);

// Rest -------------------------------------------------------------------- //
@import '../reset';

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: color .3s, opacity .3s ease-out, transform .3s ease-out, box-shadow .3s;
}

html,
body {
	//min-height: 100%;
	height: 100%;
}

body {
	background-color: #1d1d1d;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;

	&.view {
		background-color: #0f0f0f;
	}
}

div#container {
	min-height: calc(100% - 40px);
	position: relative;
}

input {
	-webkit-user-select: text !important;
	-moz-user-select: text !important;
	user-select: text !important;
}

.svgsprite {
	display: none;
}

.iconic {
	width: 100%;
	height: 100%;
}

#upload {
	display: none;
}

// Files ------------------------------------------------------------------- //
@import 'animations';
@import 'content';
@import 'leftMenu';
@import 'basicContext.custom';
@import 'basicContext.extended';
@import 'basicModal.custom';
@import 'header';
@import 'imageview';
@import 'sidebar';
@import 'loading';
@import 'message';
@import 'settings';
@import 'users';
@import 'logs_diagnostics';
@import "sharing";
@import 'multiselect';
@import 'justified_layout';
@import '../page/footer';
@import 'footer';
@import 'social-footer';
