#home_socials {
	position: fixed;
	bottom: 30px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 2;
}

#footer {
	position: absolute;
	z-index: 3;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 0 10px 0;
	text-align: center;
}