// Rest -------------------------------------------------------------------- //
/* roboto-300 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local(""), url("../fonts/roboto-v29-300.woff2") format("woff2");
}

/* roboto-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../fonts/roboto-v29-400.woff2") format("woff2");
}

/* roboto-700 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/roboto-v29-700.woff2") format("woff2");
}

@import "../reset";

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: color 0.3s, opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s;
}

html,
body {
	font-family: "Roboto", sans-serif;
	background: #000000;
	overflow: hidden;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

@import "fonts";
@import "animate";
@import "social";
@import "footer";
@import "menu";
@import "logo";
@import "intro";
@import "slide";

#footer {
	position: absolute;
	background: #000000;

	p.home_copyright {
		color: #ffffff;
	}
}
