// Rest -------------------------------------------------------------------- //
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
@import "../reset";

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: color 0.3s, opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s;
}

html,
body {
	font-family: "Roboto", sans-serif;
	background: color(landing-body-background);
	overflow: hidden;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

@import "../page/fonts";
@import "../page/animate";
@import "../page/social";
@import "../page/footer";
@import "menu";
@import "logo";
@import "intro";
@import "slide";

#footer {
	position: absolute;
	background: color(landing-footer-background);

	p.home_copyright {
		color: color(landing-footer-home-copyright-text);
	}
}
