// Rest -------------------------------------------------------------------- //
@import "../reset";

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: color 0.3s, opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s;
}

html,
body {
	font-family: sans-serif;
	background: #000000;
	overflow: hidden;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.subtitle {
	margin-top: 8px;
}

@import "../page/fonts";
@import "../page/animate";
@import "../page/social";
@import "../page/footer";
@import "menu";
@import "logo";
@import "intro";
@import "slide";

#footer {
	position: absolute;
	background: #000000;

	p.home_copyright {
		color: #ffffff;
	}
}
