.justified-layout, .unjustified-layout {
	margin: 30px 30px 0;
	width: 100%;
	position: relative;
}

.justified-layout > .photo {
	position: absolute;
	margin: 0;
}

.unjustified-layout > .photo {
	float: left;
	height: 240px;
	margin: 0 10px 10px 0;
}

.justified-layout > .photo > .thumbimg > img, .justified-layout > .photo > .thumbimg, .unjustified-layout > .photo > .thumbimg > img, .unjustified-layout > .photo > .thumbimg {
	width: 100%;
	height: 100%;
	border: none;
	object-fit: cover;
}

.justified-layout > .photo > .overlay, .unjustified-layout > .photo > .overlay
{
	width: 100%;
	bottom: 0;
	margin: 0 0 0 0;
}
