#content {

	margin-top: 70px;
	max-width: 70%;
	font-family: 'Roboto', sans-serif;
	margin-left: auto;
	margin-right: auto;

	h1 {
		display: block;
		font-size: 2em;
		margin-bottom: 0.67em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h2 {
		display: block;
		font-size: 1.5em;
		margin-bottom: 0.83em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h3 {
		display: block;
		font-size: 1.17em;
		margin-bottom: 1em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h4 {
		display: block;
		font-size: 1em;
		margin-bottom: 1.33em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h5 {
		display: block;
		font-size: .83em;
		margin-bottom: 1.67em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h6 {
		display: block;
		font-size: .67em;
		margin-bottom: 2.33em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	p {
		color: #707070;
		margin-bottom: 1.5em;
		line-height: 1.2em;
		text-align: justify;
	}

	div.left_30 {
		width: 30%;
		padding-bottom: 50px;
		margin-top: 3px;
		float: left;
	}

	div.left_50 {
		width: 50%;
		margin-top: 3px;
		padding-bottom: 50px;
		float: left;
	}

	div.right_70 {
		width: 70%;
		padding-bottom: 50px;
		float: right;
	}

	div.right_50 {
		width: 50%;
		padding-bottom: 50px;
		float: right;
	}

	div.left_50 img {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		border: 2px solid #707070;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	.clearfix::after {
		content: "";
		clear: both;
		display: table;
	}

}

@media screen and (max-width: 700px) {
	div.left_30, div.left_50, div.right_50, div.right_70 {
		width: 100% !important;
		float: none !important;
		margin: 0 0 30px 0;
	}

	div.left_50 img {
		width: 100% !important;
	}
}