#menu {
	width: 100%;

	li {
		position: relative;
		display: block;
		float: right;
		padding: 22px 1.5% 20px 1.5%;
	}

	a {
		display: block;
		font-size: 0.8em;
		color: #666666;
		text-transform: uppercase;
		font-weight: 400;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;

		&:hover {
			color: #b5b5b5 !important;
		}
	}

	.current-menu-item a {
		color: #b5b5b5 !important;
	}
}

#menu_wrap {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 98;
	width: 80%;
}
