
#home_socials {
	position: fixed;
	bottom: 30px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 2;

	.socialicons {
		display: inline-block;
		font-size: 1.4em;
		margin: 15px 20px 15px 20px;
	}
}

#socials {
	position: fixed;
	left: 0;
	top: 37%;
	background: rgba(0,0,0,0.8);
	z-index: 2;
}

.socialicons {
	display: block;
	font-size: 23px;
	font-family: 'socials' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #ffffff;
	//font-size: 1.1em;
	text-decoration: none;
	margin: 15px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;

	&:hover {
		color: #b5b5b5;
		transform: scale(1.3);
		-webkit-transform: scale(1.3);
	}
}

#twitter:before {
	content: "\ea96";
}

#instagram:before {
	content: "\ea92";
}

#youtube:before {
	content: "\ea9d";
}

#flickr:before {
	content: "\eaa4";
}

#facebook:before {
	content: "\ea91";
}

