// Rest -------------------------------------------------------------------- //
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
@import "../reset";

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: color 0.3s, opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s;
}

html,
body {
	font-family: "Roboto", sans-serif;
	background: color(a);
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

@import "fonts";
@import "animate";
@import "logo";
@import "menu";
@import "social";
@import "content";
@import "footer";

#footer {
	position: fixed;
	background: color(a);
	color: color(o);
	padding: 20px 0 20px 0;

	p {
		color: color(o);
		font-size: 0.75em;
	}
}
