// Rest -------------------------------------------------------------------- //
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import '../reset';

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: color .3s, opacity .3s ease-out, transform .3s ease-out, box-shadow .3s;
}


html, body {
	font-family: 'Roboto', sans-serif;
	background: #FFFFFF;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}


@import "fonts";
@import "animate";
@import "logo";
@import "menu";
@import "social";
@import "content";
@import "footer";

#footer {
	position: fixed;
	background: #FFFFFF;
	color: #707070;
	padding: 20px 0 20px 0;

	p {
		color: #707070;
		font-size: 0.75em;
	}
}

